{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: #ffffff;
  padding: 30px 120px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  height: 30px; 
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 52px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}
